.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container > div {
  width: 70%;
  max-width: 400px;
  text-align: center;
}

.error-container .btn-danger {
  width: 150px;
  background-color: var(--accent-color);
}

.error-container .btn-danger:hover {
  background-color: var(--primary-hover);
}