.footer {
  bottom: 0;
  padding: 20px 15px;
  background-color: var(--secondary-background);
}

.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrap a {
  margin-right: 15px;
  color: var(--accent-color);
}

.footer__wrap a:hover {
  color: var(--primary-hover);
}