.modal-open {
  overflow: inherit !important;
  padding-right: 0px !important;
}

.header {
  background-color: var(--secondary-background);
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar>.container-fluid {
  padding-right: 35px;
  column-gap: 30px;
}

.navbar-light .navbar-toggler {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/icons/icon-menu.svg);
}

.offcanvas {
  background-color: var(--secondary-background);
}

.offcanvas-title {
  color: var(--accent-color);
}

.btn-close {
  background-image: url(../assets/icons/close-btn.svg);
}

.btn-close:focus {
  box-shadow: none;
}

.modal-menu a {
  color: var(--accent-color);
}

.modal-menu a:hover {
  color: var(--primary-hover);
}

.theme-select .btn-check:checked+.btn-primary {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  box-shadow: 0 0 0 0.25rem #fd313180;
}

.theme-select .btn-primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.theme-select .btn-primary:focus {
  box-shadow: none;
}