.image-content__wrapper {
  padding: 30px 15px;
  font-size: 18px;
  color: var(--primary-color);
}

.image-content__text {
  padding: 10px;
  font-style: italic;
}

.image-content__text span {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: var(--accent-color);
}