:root {
  --primary-background: #383838;
  --secondary-background: #1f1f1f;
  --primary-color: #fff;
  --accent-color: #db403e;
  --primary-hover: #cd3837;
  --border-color: darkgray;
}

body.light {
  --primary-background: #fff;
  --secondary-background: #f1f1f1;
  --primary-color: #1f1f1f;
  --border-color: #cd3837;
}